//
// ModuleTemplate
// ======
// General component for backend modules.
//

//
// Variables
//
$module-bg: #fff !default;
$module-color: inherit !default;
$module-dark-bg: #333 !default;
$module-dark-color: #ccc !default;
$module-docheader-bg: #eee !default;
$module-docheader-border: #c3c3c3 !default;
$module-docheader-zindex: 300 !default;
$module-docheader-height: 65px !default;
$module-docheader-padding-vertical: 0 !default;
$module-docheader-padding-horizontal: 24px !default;
$module-docheader-padding: $module-docheader-padding-vertical $module-docheader-padding-horizontal !default;
$module-docheader-bar-height: 26px !default;
$module-docheader-bar-margin-vertical: 4px !default;
$module-docheader-bar-margin-horizontal: 0 !default;
$module-docheader-box-shadow: 0px 2px 10px rgba(0, 0, 0, .2) !default;
$module-docheader-bar-margin: $module-docheader-bar-margin-vertical $module-docheader-bar-margin-horizontal !default;
$module-body-padding-vertical: 24px !default;
$module-body-padding-horizontal: 24px !default;
$module-body-padding: $module-body-padding-vertical $module-body-padding-horizontal !default;
$module-docheader-border:$topbar-border-bottom !default;

//
// Template
//
.module {
    height: 100%;
    width: 100%;
    background-color: $module-bg;
    color: $module-color;
}

.module-dark {
    background-color: $module-dark-bg;
    color: $module-dark-color;
}

//
// Loading indicator
//
.module-loading-indicator {
    position: fixed;
    min-height: 5px;
    width: 100%;
    z-index: 999999;

    &.nprogress-custom-parent {
        position: fixed;
        top: 0;
    }
}

//
// Docheader
//
.module-docheader {
    @extend .clearfix;

    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    min-height: $module-docheader-height;
    z-index: $module-docheader-zindex;
    background-color: $module-docheader-bg;
    border-bottom: 1px solid $module-docheader-border;
    padding: $module-docheader-padding;
    box-shadow: $module-docheader-box-shadow;

    @include transition(margin-top 0.3s ease-in-out);

    .module-docheader-bar {
        @extend .clearfix;

        min-height: $module-docheader-bar-height;
        margin: $module-docheader-bar-margin;
        line-height: $module-docheader-bar-height;

        &.row {
            margin-left: -15px;
            margin-right: -15px;
        }

        label {
            margin-top: 0;
            margin-bottom: 0;
        }

        .form-inline {
            .form-group {
                display: table;

                label {
                    display: table-cell;
                    font-size: 11px;
                    font-weight: normal;
                    line-height: ($module-docheader-bar-height - 10px);
                    padding: 4px;
                    border-radius: 2px 0 0 2px;
                    border: 1px solid #bbb;
                    border-right: 0;
                    background-color: rgba(0, 0, 0, 0.05);
                }

                label + select {
                    display: table-cell;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }

        .form-group {
            vertical-align: top;
            margin: 0;
            display: inline-block;

            .form-control {
                vertical-align: top;
            }
        }

        .form-inline-spaced {
            margin: 0;
        }

        .panel {
            margin: 0;
            border-left: none;
            border-right: none;
            border-bottom: none;
            border-radius: 0;
            margin-left: -$module-docheader-padding-horizontal;
            margin-right: -$module-docheader-padding-horizontal;
            background-color: #fafafa;
            box-shadow: none;

            .panel-body {
                padding: ceil($module-docheader-padding-horizontal / 3) $module-docheader-padding-horizontal;
            }
        }

        @media (max-width: $screen-sm) {
            .text-right {
                text-align: left;
            }
        }
    }

    .module-docheader-bar-search {
        margin-bottom: 0;
    }

    .module-docheader-bar-column-left {
        float: left;
    }

    .module-docheader-bar-column-right {
        float: right;
    }
}

.module-docheader-bar-navigation {
    .module-docheader-bar-column-left {
        white-space: nowrap;

        @media (max-width: $screen-sm) {
            white-space: normal;
        }
    }

    .form-group select {
        width: 100%;
    }
}

//
// Body
//
.module-body {
    padding: $module-body-padding;
    // Use overflow-y: auto to ensure ckeditor dropdowns
    // do not conflict with height: 100% on <body>
    overflow-y: auto;

    > .callout:first-child {
        margin-top: 0;
    }

    > .container {
        padding-left: 0;
        padding-right: 0;
    }

    .container-small {
        max-width: 768px;
        margin: 0 auto;
    }
}

.module-docheader + .module-body {
    padding-top: $module-docheader-height + $module-body-padding-vertical;
    scroll-padding-top: $module-docheader-height;
}
