//
// Module menu
//

// Module links
$modulemenu-group-padding-vertical: 2px !default;
$modulemenu-group-padding-horizontal: 4px !default;
$modulemenu-item-icon-bg-color: inherit !default;
$modulemenu-group-icon-bg-color: inherit !default;
$modulemenu-group-container-bg: inherit !default;
$modulemenu-group-title-font-weight: bold !default;
$modulemenu-group-title-padding-y: 7px !default;
$modulemenu-group-title-padding-x: 20px !default;
$modulemenu-group-bottom-border: 1px solid rgba(0, 0, 0, 0.2) !default;
$modulemenu-item-title-padding-y: 0 !default;
$modulemenu-item-title-padding-x: 10px !default;
$modulemenu-item-padding: 2px 4px !default;
$modulemenu-item-padding-expanded: 2px 4px !default;
$modulemenu-group-header-icon-padding: 0 !default;
$modulemenu-inner-padding-x: 0 !default;
$modulemenu-inner-padding-y: 10px !default;
$modulemenu-group-icon-border: 1px solid #23272F !default;
$modulemenu-group-icon-color: #fff !default;
$modulemenu-group-icon-color-active: #fff !default;
$modulemenu-group-container-bg-border-color: transparent !default;
$modulemenu-item-link-active-bg:rgba(255, 255, 255, 0.2) !default;

// Module menu wrapper
.module-wrapper {
    position: relative;

    iframe {
        border: none;
    }
}

// Module menu styling
.modulemenu {
    padding: $modulemenu-inner-padding-y $modulemenu-inner-padding-x;
    /// Module menu group
    .modulemenu-group-container {
        padding: $modulemenu-inner-padding-y $modulemenu-inner-padding-x;
        background-color: $modulemenu-group-container-bg;
        border-width: 1px 0;
        border-style: solid;
        border-color: $modulemenu-group-container-bg-border-color;
        @extend .list-unstyled;
    }

    .modulemenu-group {
        position: relative;
        border-bottom: $modulemenu-group-bottom-border;
    }

    .modulemenu-group-header,
    .modulemenu-item-link {
        @extend .clearfix;

        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
    }

    .modulemenu-group-header {
        user-select: none;
        text-transform: uppercase;
        padding: $modulemenu-group-padding-vertical $modulemenu-group-padding-horizontal;

        .modulemenu-icon {
            padding: $modulemenu-group-header-icon-padding;
        }
    }

    .modulemenu-item-link {
        padding: $modulemenu-item-padding;


        .modulemenu-icon {
            background-color: $modulemenu-item-icon-bg-color;
        }

        &:focus,
        &:hover {
            outline: none;
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    .modulemenu-item.active {
        .modulemenu-item-link {
            background-color:$modulemenu-item-link-active-bg;
        }
    }

    // Module menu icons
    .modulemenu-icon {
        z-index: 1;
        margin-right: $modulemenu-item-padding-horizontal;

        color: $modulemenu-group-icon-color;
    }

    .modulemenu-group-header {
        .modulemenu-icon {
            background-color: $modulemenu-group-icon-bg-color;
            border: $modulemenu-group-icon-border;
        }
    }
    .icon {
        opacity: 0.75;
    }

    .fa {
        font-size: 0.5em;
    }
}

// Module menu group and item titles
.modulemenu-group-title,
.modulemenu-item-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    *zoom: 1;
}

.modulemenu-item-title {
    padding: $modulemenu-item-title-padding-y $modulemenu-item-title-padding-x;
}


.modulemenu-group-title {
    font-weight: $modulemenu-group-title-font-weight;
    line-height: 1;
    padding: $modulemenu-group-title-padding-y $modulemenu-group-title-padding-x;
    flex: 1 0 auto;

    .caret {
        @include rotate(90deg);
        position: absolute;
        top: 50%;
        right: 25px;
        margin-top: -2px;
    }
}

// Module Group Expanded
.expanded {
    .modulemenu-group-title {
        .caret {
            @include rotate(0deg);
        }
    }

    .modulemenu-icon {
        color: $modulemenu-group-icon-color-active;

        .icon {
            opacity: 1;
        }
    }
}


.scaffold:not(.scaffold-modulemenu-expanded) {
    .modulemenu-item-title {
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s;
    }

    .scaffold-modulemenu {
        &:hover {
            .modulemenu-item-title {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

// Module menu snapped
.scaffold-modulemenu-expanded {
    .modulemenu-item-link {
        padding: $modulemenu-item-padding-expanded;
    }

    .modulemenu-group-title {
        display: block;
    }

    .scaffold-modulemenu {
        overflow: auto !important;
    }
}

.modulemenu-item-icon {
    .icon-markup {
        transform: scale(1.8);
    }

    path {
        &:not([fill="#FFF"]):not([fill="#fff"]):not([fill="currentColor"]) {
            visibility: hidden;
        }
    }
}

