//
// Scaffold
// ========
//

//
// Variables
//
$scaffold-breakpoint-max: ($screen-md - 1) !default;
$scaffold-breakpoint: $screen-md !default;
$scaffold-overlay-bg: rgba(0, 0, 0, 0.65) !default;
$scaffold-overlay-zindex: $zindex-modal-background !default;
$scaffold-bg: #f5f5f5 !default;
$scaffold-color: #333 !default;
$scaffold-secondary-bg: #151515 !default;
$scaffold-secondary-color: #f5f5f5 !default;
$scaffold-topbar-bg: $scaffold-secondary-bg !default;
$scaffold-topbar-color: $scaffold-secondary-color !default;
$scaffold-topbar-height: 45px !default;
$scaffold-topbar-toolbar-bg: $scaffold-secondary-bg !default;
$scaffold-topbar-toolbar-color: $scaffold-secondary-color !default;
$scaffold-modulemenu-bg: lighten($scaffold-secondary-bg, 8) !default;
$scaffold-modulemenu-color: $scaffold-secondary-color !default;
$scaffold-modulemenu-snapped-width: 40px !default;
$scaffold-modulemenu-expanded-width: 230px !default;
$scaffold-modulemenu-zindex: $zindex-navbar+2 !default;
$scaffold-toolbar-color: $scaffold-secondary-color !default;
$scaffold-header-zindex: $zindex-navbar !default;
$scaffold-content-navigation-width: 300px !default;
$scaffold-content-toggle-bg: lighten($scaffold-secondary-bg, 12) !default;
$scaffold-content-toggle-color: $scaffold-secondary-color !default;
$scaffold-toolbar-border-bottom-color: none !default;
$topbar-button-active-color: $topbar-header-color !default;

//
// Prevent Browser Rebounce
//
html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    overflow: auto;
}

//
// Component
//
.scaffold {
    background-color: $scaffold-bg;
    color: $scaffold-color;
    position: relative;
    padding-top: $scaffold-topbar-height;
    height: 100vh;
}

//
// Topbar
//
.scaffold-topbar {
    background-color: $scaffold-topbar-bg;
    color: $scaffold-topbar-color;
    height: $scaffold-topbar-height;
}

//
// ModuleMenu
//
.scaffold-modulemenu {
    background-color: $scaffold-modulemenu-bg;
    color: $scaffold-modulemenu-color;
    position: fixed;
    top: $scaffold-topbar-height;
    left: 0;
    bottom: 0;
    width: $scaffold-modulemenu-snapped-width;
    max-width: 100%;
    z-index: $scaffold-modulemenu-zindex;
    overflow: hidden !important;

    a {
        color: transparentize($scaffold-modulemenu-color, 0.3);

        &:hover {
            color: $scaffold-modulemenu-color;
        }
    }

    .active > a {
        color: $scaffold-modulemenu-color;
    }
}

//
// Toolbar
//
.scaffold-toolbar {
    color: $scaffold-toolbar-color;
    box-sizing: content-box;
    flex: 1 0 auto;
    display: none;
    border-bottom: 1px solid $scaffold-toolbar-border-bottom-color;

    a {
        color: $scaffold-toolbar-color;
    }

    @media (min-width: $scaffold-breakpoint) {
        height: $scaffold-topbar-height;
        display: block;
    }
}

.scaffold-toolbar-expanded,
.scaffold-search-expanded {
    .scaffold-toolbar {
        @media (max-width: $scaffold-breakpoint-max) {
            display: block;
        }
    }
}

//
// Content
//
.scaffold-content {
    position: absolute;
    top: $scaffold-topbar-height;
    left: 0;
    right: 0;
    bottom: 0;

    @media (max-width: $scaffold-breakpoint-max) {
        left: 0 !important;
    }
}

.scaffold-content-navigation-iframe,
.scaffold-content-module-iframe {
    display: block;
    border: none;
    height: 100%;
    width: 1px;
    min-width: 100%;
}

.scaffold-content-navigation {
    display: none;
    position: absolute !important;
    left: 0;
    top: 0;
    bottom: 0;
    width: $scaffold-content-navigation-width;
}

.scaffold-content-navigation-component {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.scaffold-content-module {
    @media (max-width: $screen-xs-max) {
        width: 100%;
    }

    position: absolute !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

//
// Content Overlay
//
.scaffold-content-overlay {
    display: none;
    position: absolute;
    z-index: $scaffold-overlay-zindex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $scaffold-overlay-bg;
}

.scaffold-modulemenu-expanded {
    .scaffold-content-overlay {
        display: block;

        @media (min-width: $scaffold-breakpoint) {
            display: none;
        }
    }
}

//
// Medium Screen
//
.scaffold {
    @media (min-width: $scaffold-breakpoint) {
        padding-left: $scaffold-modulemenu-snapped-width;
    }

    &:not(.scaffold-modulemenu-expanded) {
        .scaffold-modulemenu {
            width: $scaffold-modulemenu-snapped-width !important;
            transition: all 0.2s ease-out;
            border-right: 1px solid rgba(255, 255, 255, 0.035);
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);

            &:hover {
                width: $scaffold-modulemenu-expanded-width !important;
                overflow: auto !important;
            }
        }
    }

    .scaffold-modulemenu {
        width: $scaffold-modulemenu-snapped-width;

        @media (max-width: $scaffold-breakpoint-max) {
            display: none;
        }
    }
}

.scaffold-modulemenu-expanded {
    display: block;
    padding-left: $scaffold-modulemenu-expanded-width;

    .scaffold-modulemenu {
        width: $scaffold-modulemenu-expanded-width;

        @media (max-width: $scaffold-breakpoint-max) {
            display: block;
        }
    }

    .scaffold-content {
        transform: translate($scaffold-modulemenu-expanded-width, 0);
    }
}

.scaffold-content-navigation-expanded {
    .scaffold-content-navigation {
        display: block;
    }

    .scaffold-content-module {
        left: $scaffold-content-navigation-width;
    }

    .topbar-button-navigationcomponent {
        color: $topbar-button-active-color;
    }

}

@media (min-width: $scaffold-breakpoint) {
    .scaffold {
        .scaffold-content {
            left: $scaffold-modulemenu-snapped-width !important;
        }
    }

    .scaffold-modulemenu-expanded {
        .scaffold-content {
            left: $scaffold-modulemenu-expanded-width !important;
            transform: none;
        }
    }
}

.t3js-scaffold-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: $scaffold-header-zindex;
}
