//
// Topbar
// ======
//

//
// Variables
//
$topbar-bg: $scaffold-topbar-bg !default;
$topbar-color: $scaffold-topbar-color !default;
$topbar-height: $scaffold-topbar-height !default;
$topbar-workspace-bg: #6d860d !default;
$topbar-toolbar-bg: $scaffold-topbar-toolbar-bg !default;
$topbar-toolbar-color: $scaffold-topbar-toolbar-color !default;
$topbar-button-bg: $topbar-toolbar-bg !default;
$topbar-button-hover-bg: lighten($topbar-button-bg, 3%) !default;
$topbar-button-active-bg: $scaffold-modulemenu-bg !default;
$topbar-button-width: 40px !default;
$toolbar-item-padding-vertical: 9px !default;
$toolbar-item-padding-horizontal: 15px !default;
$topbar-header-site-after-bg: linear-gradient(to right, transparentize($topbar-bg, 1) 0%, transparentize($topbar-bg, 0) 100%) !default;
$topbar-header-site-width: $scaffold-modulemenu-expanded-width - $scaffold-modulemenu-snapped-width !default;
$topbar-header-site-bg-color: $scaffold-modulemenu-header-bg !default;
$topbar-button-navigation-component-active-bg: $topbar-button-active-bg !default;
$topbar-button-diabled-bg: $topbar-button-active-bg !default;
$topbar-button-navigation-component-color: $topbar-header-color !default;
$topbar-max-content-width: $topbar-button-width  * 3 + $scaffold-modulemenu-expanded-width !default;
$topbar-header-site-color: inherit !default;

//
// Component
//
.topbar {
    background-color: inherit;
    position: relative;
    height: 100%;

    a {
        color: inherit;
        text-decoration: none;
    }
}

//
// Buttons
//
.topbar-button {
    border: 0;
    background-color: $topbar-button-bg;
    height: $navbar-height;
    width: $topbar-button-width;

    &:focus,
    &:hover {
        background-color: $topbar-button-hover-bg;
    }

    &[disabled],
    &[disabled]:focus,
    &[disabled]:hover {
        background-color: $topbar-button-diabled-bg;
        cursor: not-allowed;
        opacity: 0.5;
    }

    &.topbar-button-modulemenu {
        background-color: $topbar-button-active-bg;
        color: $toolbar-item-open-bg-color;
    }

    &.topbar-button-navigationcomponent {
        left: $topbar-button-width;
        background-color: $topbar-button-navigation-component-active-bg;
        color: $topbar-button-navigation-component-color;
    }

    &.topbar-button-toolbar {
        right: $topbar-button-width;
    }

    &.topbar-button-search {
        right: 0;
    }
}

.scaffold-modulemenu-expanded {
    .topbar-button.topbar-button-modulemenu {
        background-color: $topbar-button-active-bg;
    }

    .topbar-header-site {
        @media (min-width: $topbar-max-content-width) {
            display: block;
        }
    }

    .topbar-button {
        &.topbar-button-navigationcomponent {
            @media (min-width: $topbar-max-content-width) {
                left: $scaffold-modulemenu-expanded-width;
                position: absolute;
            }
        }
    }
}

.scaffold-content-navigation-expanded {
    .topbar-button {
        &.topbar-button-navigationcomponent {
            @media (min-width: $topbar-max-content-width) {
                margin-left: $scaffold-content-navigation-width;
            }
        }
    }
}

.scaffold-toolbar-expanded {
    @media (max-width: $scaffold-breakpoint-max) {
        .toolbar-item-search {
            display: none;
        }
    }

    .topbar-button-toolbar {
        background-color: $topbar-button-active-bg;
    }
}

.scaffold-search-expanded {
    @media (max-width: $scaffold-breakpoint-max) {
        .toolbar-item {
            display: none;
        }

        .toolbar-item-search {
            display: block;
            width: 100%;
        }
    }

    .topbar-button-search {
        background-color: $topbar-button-active-bg;
    }
}

.topbar-button-toolbar,
.topbar-button-search {
    display: block;
}

@media (min-width: $scaffold-breakpoint) {
    .topbar-button-toolbar,
    .topbar-button-search {
        display: none;
    }
}

//
// Header
//
.topbar-header {
    display: flex;
}

.topbar-header-site {
    overflow: hidden;
    position: relative;
    width: $topbar-header-site-width;
    height: $topbar-height;
    line-height: $topbar-height;
    padding-left: 1em;
    padding-right: 1em;
    white-space: nowrap;
    background-color: $topbar-header-site-bg-color;
    display: none;

    &:before,
    &:after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1em;
    }

    &:before {
        right: 0;
        background: $topbar-header-site-after-bg;
    }

    &:after {
        right: 1em;
        background: $topbar-header-site-after-bg;
    }
}

.typo3-in-workspace {
    .topbar-header-site {
        background-color: $topbar-workspace-bg;

        &:before {
            background: $topbar-workspace-bg;
        }

        &:after {
            background: linear-gradient(to right, transparentize($topbar-workspace-bg, 1) 0%, transparentize($topbar-workspace-bg, 0) 100%);
        }
    }
}

.topbar-header-site-logo {
    height: $topbar-height;
    display: none;
    padding-right: 0.5em;

    @media (min-width: 320px) {
        display: inline-block;
    }
}

.topbar-header-site-title {
    line-height: 1.2em;
    display: inline-block;
    vertical-align: middle;
    color: $topbar-header-site-color;
}

.topbar-header-site-name {
    display: block;
}

.topbar-header-site-version {
    opacity: 0.5;
}
