//
// Global Variables
// ================
// Note: Need to be loaded after all LESS files are included to override variables defined before.
// Note: Use relative paths
//

//
// Paths
// =====
//
$path-root: "../../../../../..";
$path-sysext: "#{$path-root}/typo3/sysext";

//
// Fonts
// =====
//
$sourcesanspro-font-path: "#{$path-sysext}/backend/Resources/Public/Fonts/SourceSansPro";
$fa-font-path: "#{$path-sysext}/backend/Resources/Public/Fonts/FontAwesome";
$font-family-base: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
$font-size-base: 14px;
$line-height-base: 1.5;

//
// Bootstrap
// =========
//


// Colors
$gray-darker: rgb(30, 30, 30);
$gray-dark: rgb(90, 90, 90);
$gray: rgb(115, 115, 115);
$gray-light: rgba(0, 0, 0, 0.1);
$gray-lighter: rgba(0, 0, 0, 0.08);
$brand-primary: #e57e31;
$brand-success: #10cfbd;
$brand-info: #3b4752;
$brand-warning: #f8d053;
$brand-danger: #f55753;
$brand-notice: #343740;
$dark-bg: #222 !default;
$btn-border-radius-base: 0;

// Scaffolding
$body-bg: #ebeef1;
$text-color: #626262;
$link-color: #212424;
$link-hover-color: #000;

// Typography
$font-family-sans-serif: Verdana, Arial, Helvetica, sans-serif;
$font-size-base: 13px;
$font-size-large: ceil(($font-size-base * 1.25)); // ~15px
$font-size-small: 11px; // ~11px
$font-size-h1: floor(($font-size-base * 2.3));
$font-size-h2: floor(($font-size-base * 1.6));
$font-size-h3: ceil(($font-size-base * 1.35));
$font-size-h4: ceil(($font-size-base * 1.2));
$line-height-base: 1.5;

// Screen Dimensions
$screen-xs: 480px;
$screen-xs-min: $screen-xs;
$screen-phone: $screen-xs-min;
$screen-ms: 624px;
$screen-ms-min: $screen-ms;
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-tablet: $screen-sm-min;
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-desktop: $screen-md-min;
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-lg-desktop: $screen-lg-min;
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

// Components
$padding-base-vertical: 6px;
$padding-base-horizontal: 6px;
$padding-large-vertical: 12px;
$padding-large-horizontal: 12px;
$padding-small-vertical: 4px;
$padding-small-horizontal: 8px;
$padding-xs-vertical: 2px;
$padding-xs-horizontal: 4px;
$line-height-large: 1.3333333;
$line-height-small: 1.5;
$border-radius-base: 2px;
$border-radius-large: 2px;
$border-radius-small: 2px;

// Tables
$table-cell-padding: 5px 10px;
$table-condensed-cell-padding: 6px;
$table-bg: transparent;
$table-bg-accent: #f0f0f0;
$table-bg-hover: #e1e1e1;
$table-bg-active: $table-bg-hover;
$table-border-color: #e1e1e1;
$table-fit-border-color: transparent;
$table-thead-bg: transparent;
$table-head-padding: 10px;
$table-button-color: inherit;

// Buttons
$btn-font-weight: normal;
$btn-default-color: #333;
$btn-default-bg: #fff;
$btn-default-border: #fff;
$btn-primary-color: #fff !default;
$btn-primary-bg: $brand-primary !default;
$btn-primary-border: darken($btn-primary-bg, 5%) !default;
$bg-dark-item-active-bg: rgba(255, 255, 255, 0.2) !default;

// Forms
$input-bg: #fafafa;
$input-color: #2c2c2c;
$input-border: rgba(0, 0, 0, 0.07);
$input-border-focus: rgba(0, 0, 0, 0.1);
$input-focus-bg: rgba(255, 255, 255, 0.1);
$input-color-placeholder: #caccce;
$input-color-disabled: rgba(98, 98, 98, 0.23);
$input-bg-disabled: #efefef;
$input-border-radius: 1px;
$input-height-large: (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 1.6) + 2);
$input-group-addon-bg: #ececec;

// Typo3 forms
$form-section-border: transparent;
$form-group-padding: 15px;

// Navbar
$navbar-height: 60px;
$navbar-default-bg: #f8f8f8;
$navbar-default-link-hover-bg: darken($navbar-default-bg, 5%);
$navbar-default-link-active-bg: darken($navbar-default-bg, 10%);
$navbar-default-link-disabled-bg: darken($navbar-default-bg, 15%);
$navbar-inverse-color: #999;
$navbar-inverse-bg: #111;
$navbar-inverse-border: none;
$navbar-inverse-link-color: #ddd;
$navbar-inverse-link-bg: lighten($navbar-inverse-bg, 7.5%); // TYPO3 SPECIFIC
$navbar-inverse-link-hover-color: rgb(200, 200, 200);
$navbar-inverse-link-hover-bg: rgb(50, 50, 50);
$navbar-inverse-link-active-color: #fff;
$navbar-inverse-link-active-bg: $navbar-inverse-link-hover-bg;
$navbar-inverse-link-disabled-color: darken($navbar-inverse-color, 30%);
$navbar-inverse-link-disabled-bg: darken($navbar-inverse-bg, 20%);

// Navs
$nav-open-link-hover-color: #fff;
$nav-link-padding: 6px 12px;
$nav-disabled-link-hover-color: $gray-dark;


// Tabs
$nav-tabs-border-color: transparent;
$nav-tabs-link-hover-bg: darken(#fafafa, 10%);
$nav-tabs-link-hover-border-color: $gray-lighter;
$nav-tabs-active-link-border-bottom-color: $brand-danger;
$nav-tabs-active-link-bg: transparent;
$nav-tabs-active-link-hover-bg: transparent;
$nav-tabs-active-link-hover-color: #000;
$nav-tabs-active-link-hover-border-color: transparent;
$nav-tabs-justified-link-border-color: #ccc;
$nav-tabs-justified-active-link-border-color: $nav-tabs-border-color;
$nav-tabs-bg: transparent;

// Form states and alerts
$state-success-text: #326e41;
$state-success-bg: #d4ecda;
$state-success-border: #d4e8d9;
$state-info-text: #325981;
$state-info-bg: #cde5fe;
$state-info-border: #b6d9fd;
$state-warning-text: #836a27;
$state-warning-bg: #fff2d0;
$state-warning-border: #fdf0d0;
$state-danger-text: #733037;
$state-danger-bg: #f7d7db;
$state-danger-border: #f5c3c8;
$state-notice-text: rgb(160, 160, 160); // TYPO3 SPECIFIC
$state-notice-bg: lighten(rgb(160, 160, 160), 35%); // TYPO3 SPECIFIC
$state-notice-border: rgb(160, 160, 160); // TYPO3 SPECIFIC

$callout-success-color: $state-success-text;
$callout-success-icon-color: $callout-success-color;
$callout-info-color: $state-info-text;
$callout-info-icon-color: $callout-info-color;
$callout-warning-color: $state-warning-text;
$callout-warning-icon-color: $callout-warning-color;
$callout-danger-color: $state-danger-text;
$callout-danger-icon-color: $callout-danger-color;
$callout-notice-color: $state-notice-text;
$callout-notice-icon-color: $callout-notice-color;


// Tooltips
$tooltip-bg: #333;
$tooltip-opacity: 1;
$tooltip-arrow-width: 3px;

// Alerts
$alert-padding: 11px;
$alert-border-radius: 2px;
$alert-link-font-weight: bold;
$alert-success-bg: $brand-success;
$alert-success-text: #fff;
$alert-success-border: transparent;
$alert-info-bg: $brand-info;
$alert-info-text: #fff;
$alert-info-border: transparent;
$alert-warning-bg: $brand-warning;
$alert-warning-text: #fff;
$alert-warning-border: transparent;
$alert-danger-bg: $brand-danger;
$alert-danger-text: #fff;
$alert-danger-border: transparent;
$alert-notice-bg: $brand-notice; // TYPO3 SPECIFIC
$alert-notice-text: #fff; // TYPO3 SPECIFIC
$alert-notice-border: transparent; // TYPO3 SPECIFIC

// Panels
$panel-default-border: #ccc;
$panel-box-shadow: none;
$panel-default-heading-bg: #fff;

// Wells
$well-bg: #fafafa;
$well-border: #ccc;

// Badges
$badge-bg: $gray;

// Type
$text-muted: #9c9a9a;
$headings-small-color: $gray;
$dl-horizontal-offset: 90px;
$hr-border: #7a7a7a;

// Modal
$zindex-modal: 5000;

// Lists
$list-group-hover-bg: #d7d7d7;
$list-group-link-hover-color: #222;


// Dropdown
$dropdown-bg: #fafafa;
$dropdown-color: #626262; // TYPO3 SPECIFIC
$dropdown-border: rgba(222, 227, 231, 0.56);
$dropdown-fallback-border: #ccc;
$dropdown-divider-bg: #424242;
$dropdown-link-color: $text-color;
$dropdown-link-hover-color: #fff;
$dropdown-link-hover-bg: #424242;
$dropdown-link-active-color: #fff;
$dropdown-link-active-bg: #424242;
$dropdown-link-disabled-color: $gray-lighter;
$dropdown-header-color: $gray-lighter;
$dropdown-caret-color: #000;
$dropdown-content-padding: 2rem;

// Datetime Picker
$bs-datetimepicker-timepicker-font-size: $font-size-base;
$bs-datetimepicker-active-bg: $btn-primary-bg;
$bs-datetimepicker-active-color: $btn-primary-color;
$bs-datetimepicker-border-radius: 0;
$bs-datetimepicker-btn-hover-bg: lighten($dropdown-bg, 10%);
$bs-datetimepicker-disabled-color: $text-muted;
$bs-datetimepicker-alternate-color: lighten($bs-datetimepicker-disabled-color, 10%);
$bs-datetimepicker-secondary-border-color: $dropdown-bg;
$bs-datetimepicker-secondary-border-color-rgba: rgba(0, 0, 0, 0.2);
$bs-datetimepicker-primary-border-color: $dropdown-bg;
$bs-datetimepicker-text-shadow: none;

// Overwrite Progress bar background color
$progress-bg: #dedede;

//
// Components
// =========
//

// Module
$module-bg: $body-bg;
$module-color: $text-color;
$module-dark-bg: #333;
$module-dark-color: #ccc;
$module-docheader-bg: #fff;
$module-docheader-border: #f0f0f0;
$module-docheader-zindex: 300;
$module-docheader-height: 70px;
$module-docheader-padding-vertical: 0;
$module-docheader-padding-horizontal: 24px;
$module-docheader-padding: $module-docheader-padding-vertical $module-docheader-padding-horizontal;
$module-docheader-bar-height: 26px;
$module-docheader-bar-margin-vertical: 4px;
$module-docheader-bar-margin-horizontal: 0;
$module-docheader-bar-margin: $module-docheader-bar-margin-vertical $module-docheader-bar-margin-horizontal;
$module-body-padding-vertical: 24px;
$module-body-padding-horizontal: 24px;
$module-body-padding: $module-body-padding-vertical $module-body-padding-horizontal $module-docheader-height + $module-body-padding-vertical !important;


$modulemenu-item-icon-bg-color: transparent;
$modulemenu-group-icon-bg-color: #2c313b;
$modulemenu-group-title-font-weight: normal;
$modulemenu-group-bottom-border: none;
$modulemenu-item-padding-expanded: 12px 0 12px 45px;
$modulemenu-item-padding: 12px 26px;
$modulemenu-group-padding-vertical: 5px;
$modulemenu-group-padding-horizontal: 15px;
$modulemenu-group-container-bg: #383c48;
$modulemenu-group-container-bg-border-color: #262931;
$modulemenu-item-padding-horizontal: 0;
$modulemenu-group-title-padding-x: 20px;
$modulemenu-group-title-padding-y: 0;
$modulemenu-group-header-icon-padding: 0;
$modulemenu-item-link-active-bg: $bg-dark-item-active-bg;

//
// Elements Browser
// ========
//
$element-browser-main-sidebar: var(--link-browser-navigation-width, 320px);
//
// Scaffold
// ========
//
$scaffold-topbar-height: $navbar-height;

$scaffold-secondary-bg: #fff;
$scaffold-secondary-color: #626262;

$scaffold-modulemenu-bg: #2d313a;
$scaffold-modulemenu-color: #fff;
$scaffold-modulemenu-snapped-width: 70px;
$scaffold-modulemenu-expanded-width: 240px;
$scaffold-modulemenu-header-bg: $brand-notice;

$scaffold-content-navigation-width: var(--scaffold-content-navigation-width, 280px);
$toolbar-height: $scaffold-topbar-height;
$toolbar-navigation-bg: $scaffold-secondary-bg;
$topbar-button-width: $scaffold-modulemenu-snapped-width;
$topbar-header-site-after-bg: none;
$topbar-button-navigation-component-active-bg: transparent;
$topbar-button-diabled-bg: none;
$topbar-button-active-bg: $brand-primary;
$topbar-button-navigation-component-color: #222;
$topbar-header-site-color: #fff;
$scaffold-toolbar-border-bottom-color: #dfdede;
$toolbar-navigation-search-hover-bg: none;
$toolbar-avatar-text-margin: 10px;
$toolbar-item-open-bg-color: #fff;
$topbar-button-active-color: blue;

$icon-size-small: 16px;
$icon-size-default: 32px;
$icon-size-large: 48px;
$icon-unify-modifier: 0.86;
$icon-opacity-disabled: 0.5;

$card-shadow-color: transparent;
$card-border-color: $gray-lighter;
$card-border-hover-color: rgba(0, 0, 0, 0.1);
$card-shadow-hover-offset-y: 1px;
$card-bg-color: #fff;


$svg-toolbar-height: 0;
$svg-toolbar-border: transparent;
$typo3-pagetree-color: #cacaca;
$typo3-pagetree-bg: $scaffold-modulemenu-header-bg;
$svgColors: (
    border: none,
    lines: #5a5a5a,
    nodeSelectedBg: rgba(255, 255, 255, 0.2),
    nodeOverBg: rgba(255, 255, 255, 0.2),
    dragOverBg: rgba(233, 90, 90, 0.2),
    dragOverBorder: transparent,
    dragAlertBg: rgba(233, 90, 90, 0.6),
    dragAlertBorder: transparent,
    dragAboveBg: transparent,
    dragAboveBorder: transparent,
    dragBetweenBg: transparent,
    dragBetweenBorder: transparent,
    dragBelowBg: transparent,
    dragBelowBorder: transparent,
    dragTooltipBg: #d7e4f1,
    dragTooltipAlertBg: #f6d3cf,
    dragTooltipAlertBorder: #d66c68
);
$svg-toolbar-padding: 0;


$navigation-bg: transparent;
$table-button-bg: transparent;
$table-button-border: transparent;

