.db_list-dashboard {
    position: absolute;
    bottom: $module-docheader-height;
    right: 0;
    width: 33vw;
    min-width: 380px;
    border-left: 1px solid rgba(222, 227, 231, 0.56);
    transition: transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    box-shadow: 0 0 9px rgba(191, 191, 191, 0.36);
    background: $brand-notice;
    transform: translateX(100%);

    &.open {
        transform: none;
    }

    .popover {
        color: $text-color;
    }

    a[name="clip_head"] {
        display: block;
        width: 50px;
        height: 50px;
        background: $brand-notice;
        position: absolute;
        top: 0;
        left: -50px;
        cursor: pointer;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;

        &:after {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23ffffff' d='M336 64h-80c0-35.3-28.7-64-64-64s-64 28.7-64 64H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM192 40c13.3 0 24 10.7 24 24s-10.7 24-24 24-24-10.7-24-24 10.7-24 24-24zm144 418c0 3.3-2.7 6-6 6H54c-3.3 0-6-2.7-6-6V118c0-3.3 2.7-6 6-6h42v36c0 6.6 5.4 12 12 12h168c6.6 0 12-5.4 12-12v-36h42c3.3 0 6 2.7 6 6z'/%3E%3C/svg%3E%0A");
            width: 16px;
            height: 16px;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -8px 0 0 -8px;
        }
    }

    .panel {
        box-shadow: none;
        padding: $dropdown-content-padding;
        margin: 0;

        .panel-heading {
            padding-top: 13px;
        }

        &,
        .panel-heading,
        .table {
            background: none;
            color: #fff;
            font-size: 15px;
            font-weight: normal;
        }

        .panel-heading {
            margin: 0 ($dropdown-content-padding*-1);
            padding: 0 0 15px $dropdown-content-padding;
        }
    }

    a {
        color: lighten($brand-primary, 5%);
    }

    .table {
        > tbody > tr > td {
            border: none;
            padding: 7px 0;

            &.col-icon {
                padding-left: 10px;
            }
        }
    }

    .btn:not(.dropdown-toggle) {
        padding: 2px 3px;

        &.btn-default {
            background-color: rgba(0, 0, 0, 0.1);
            border-color: rgba(0, 0, 0, 0.5);
        }
    }

    .dropdown-menu {
        background-color: $brand-notice;
        padding: 0;

        li {
            background-color: $bg-dark-item-active-bg;

            > a {
                color: white;
            }
        }

    }

    .open {
        .btn-default {
            &.active,
            &.dropdown-toggle {
                background-color: $bg-dark-item-active-bg;
                color: inherit;
                border-color: transparent;
            }
        }
    }

    .btn-default {
        background-color: transparent;
        border-color: transparent;


    }


}
