$form-group-padding: 15px !default;
$form-section-headline-border-color: #e4e4e4 !default;

.form-section-headline {
    border-color: $form-section-headline-border-color;
    margin: ($module-body-padding-vertical * -1) ($module-body-padding-horizontal * -1) $form-group-padding;
    padding: $form-group-padding $module-body-padding-horizontal;
}


.panel-space {
    @include section-card();
    padding: 24px;

    .panel-heading {
        @extend .form-section-headline;
    }
}

.module-body{
    > .table-fit{
        @include section-card();
        padding: 24px;
    }
}
