//
// Template demo wip Styles
// ---------------
// Description: Backend template demo v1
//
@import 'mixins/components';
@import 'editor';
@import 'backend';
@import 'clipboard';
@import 'page-tree';
@import 'tables';
@import 'docheader';
@import 'tceform';
@import 'tabpanel';
@import 'navigation-resizable';
@import 'features/icons';

button, a {
    outline: 0;
}

.svg-toolbar__submenu {
    position: absolute;
    background: $typo3-pagetree-bg;
    top: $navbar-height;
    right: 0;
    padding: 10px 15px;
}


label {
    font-weight: normal;
}

.topbar-button {

    &.topbar-button-navigationcomponent {
        border-bottom: 1px solid $scaffold-toolbar-border-bottom-color;
        margin-top: 1px;
    }

    &[disabled],
    &[disabled]:focus,
    &[disabled]:hover {
        opacity: 1;

        .icon {
            opacity: 0.5;
        }
    }
}

.module {
    h1:first-of-type {
        position: relative;
        z-index: 2;
    }
}
