.feature-icons-container {
    display: block;
    width: 100%;
    background-color: #eee;
    padding: 5px;

    &:hover {
        background-color: #e1e1e1;
    }
}

.feature-icons-container-label {
    padding: 5px 0 0;
    min-height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: normal;
}
.feature-icons-list {
    margin: 0 -2px;
    .col {
        padding: 2px;
    }
}
